.introduce-homepage {
  position: relative;
  overflow: hidden;

  &__wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: url(../../../assets/wave.png);
    background-size: 800px 60px;

    @media (min-width: 768px) {
      height: 80px;
      background-size: 900px 80px;
    }

    @media (min-width: 1024px) {
      height: 100px;
      background-size: 1000px 100px;
    }

    &--1 {
      animation: animate 30s linear infinite;
      z-index: 1000;
      opacity: 1;
      animation-delay: 0s;
      bottom: 0;
    }

    &--2 {
      animation: animate2 10s linear infinite;
      z-index: 999;
      opacity: 0.5;
      animation-delay: -5s;
      bottom: 5px;

      @media (min-width: 768px) {
        bottom: 8px;
      }

      @media (min-width: 1024px) {
        bottom: 10px;
      }
    }

    &--3 {
      animation: animate 30s linear infinite;
      z-index: 998;
      opacity: 0.2;
      animation-delay: -2s;
      bottom: 8px;

      @media (min-width: 768px) {
        bottom: 12px;
      }

      @media (min-width: 1024px) {
        bottom: 15px;
      }
    }

    &--4 {
      animation: animate2 5s linear infinite;
      z-index: 997;
      opacity: 0.7;
      animation-delay: -5s;
      bottom: 10px;

      @media (min-width: 768px) {
        bottom: 15px;
      }

      @media (min-width: 1024px) {
        bottom: 20px;
      }
    }
  }
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}
