@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background: #f7f7f7;
}

.container {
  width: 95%;
  margin: auto;
}

.custom-button-antd {
  height: 44px;
  background-color: #512da8;
  border-color: #512da8;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.custom-button-antd:hover {
  background-color: #673ab7 !important;
  border-color: #673ab7 !important;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px #673ab7;
}

.custom-button-antd:active {
  transform: translateY(0);
}
